#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#hash {
  grid-area: hash;
}

#zero {
  grid-area: nil;
}

#decimal {
  grid-area: deci;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#multi {
  grid-area: multi;
}

#divi {
  grid-area: divi;
}

#equal {
  grid-area: equal;
}

#clear {
  grid-area: C;
}